body {
    font-family: 'Love Ya Like A Sister', cursive;
    letter-spacing: 3px;
    font-size: 1.25rem;
    background-image: url(./assets/poptarts.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head_container {
    background-color: white;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
    text-shadow: 1px 1px 2px #808080;
}

.header {
    margin: 0;
}

.poptart-list {
    font-family: 'Love Ya Like A Sister', cursive;
    outline: none;
    display: block;
    opacity: 0.9;
    margin: 3em auto;
    height: 40px;
    width: 250px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
}

img {
    height: 250px;
    width: auto;
}

.returnedFlavour {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.animation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    animation: nyan_is_off 3s 1;
}

.banner {
    position: absolute;
    width: 100%;
    height: 64px;
    z-index: 1;
    background-color: white;
    opacity: 0.75;
    display: flex;
    justify-content: center;
    animation: banner 3s 1;
}

.text {
    padding-left: 1.5em;
}

.gif_container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hidden {
    display: none;
}

@keyframes nyan_is_off {
    0% {
        margin-left: 0%;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes banner {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@media screen and (min-width:650px) {
    .animation {
        animation: nyan_is_off 4s 1;
    }
    .banner {
        animation: banner 4s 1;
    }
    img {
        height: 300px;
        width: auto;
    }
    .returnedFlavour {
        height: 300px;
    }
}

@media screen and (min-width:800px) {
    .animation {
        animation: nyan_is_off 6s 1;
    }
    .banner {
        animation: banner 6s 1;
    }
}